/* Logo 50px x 50px ficaria muito pequena */
.logo {
    width: 150px;
    height: 150px;
}


body#principal {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
    flex-direction: column;
    background-color: #ffcd1f;
    padding-top: 70px;
    min-height: 100vh;
}


header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;   
}


.navbar {
    width: 100%;
    padding-left: 0; 
    background-color: black;
}


.navbar-nav {
    margin-left: 0; 
    
}


.nav-item {
    padding-left: 10px; 
}


.nav-link {
    color: white;
}


main#principal {
    flex: 1;
    height: calc(100vh - 100px) 25px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffcd1f;
    padding: 20px;
}


main#principal h1 {
    font-size: 3rem;
    margin-top: 20px;
    text-align: center;
}


main#principal h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 100px;
    text-align: center;
}


main#principal p {
    font-size: 1.55rem;
    margin-top: 5px;
    text-align: center;
}


footer {
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer p {
    margin: 0;
    line-height: 50px;

}
